body {
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url("../images/tokyo.jpg");
}

nav {
    background-color: rgb(207, 113, 207);
}

.brand-logo{
    margin-left: 500px;
}


#cardText {
    padding: 5%;
}

.block-header {
    font-size:350%;
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 0;
}

#about-image {
 border-radius: 15px 70px; 
 float:left;
 padding-right: 15px;
}

a.btn{
    background-color: rgb(207, 113, 207);
    border-radius: 15px 70px; 
}

p.aboutMe {
    float: right;
    border-radius: 15px 70px; 
    background-image: linear-gradient(pink, purple);
    color: white;
    width:70%;
    padding: 20px;
}

div.contactInfo {
    float: left;
    border-radius: 15px 70px; 
    background-image: linear-gradient(pink, purple);
    color: white;
    width:50%;
    padding: 20px;
}







